<h4 class="w-75 mx-auto mt-5">すべての投稿</h4>
<% @posts.each do |post| %>
<!--下書きはヘッダーグレー-->
  <div class="card w-75 mx-auto my-2 shadow-sm">
    <div class="card-header font-weight-bolder text-white <%= post.is_draft ? "bg-secondary" : "bg-info" %>">
      <%= image_tag post.user.get_icon_image(50,50), class: "border rounded-circle" %>
      <%= post.user.name %>
      <%= link_to "削除", admin_post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger btn-sm" %>
    </div>
    <div class="card-body">
      <%= link_to admin_post_path(post), class: "text-truncate text-dark" do %>
        <p><%= post.post %></p>
      <% end %>
    </div>
    <div class="blockquote-footer text-right px-2 pb-3">
      <%= l post.created_at, format: :short %>
      <i class="far fa-star"></i><%= post.bookmarks.count %>
      <i class="fas fa-comments"></i><%= post.post_comments.count %>
    </div>
  </div>
<% end %>
<div class="row justify-content-center">
  <%= paginate @posts %>
</div>