<div class="card-columns mx-auto">
<% users.each do |user| %>
  <div class="card w-100 mx-auto my-2 shadow-sm">
    <div class="card-header font-weight-bolder text-white bg-info">
      <%= image_tag user.get_icon_image(50, 50), class: "border rounded-circle" %>
      <%= user.name %>
      <td id="follow-ajax-<%= user.id %>"><%= render "user/relationships/btn", user: user %></td>
    </div>
    <a href="/users/<%= user.id %>" class="card-body text-dark">
    <div class="card-body">
      <table>
      <tr>
        <td>居住地：</td>
        <td><%= user.address %></td>
      </tr>
      <tr>
        <td>年齢：</td>
        <td><%= user.age %>歳</td>
      </tr>
      <tr>
        <td>推しアーティスト：</td>
        <td><%= user.my_favorite %></td>
      </tr>
      <tr>
        <td>ライブの楽しみ方：</td>
        <td><%= user.live_stance %></td>
      </tr>
      </table>
    </div>
    </a>
  </div>
<% end %>
</div>