<h6>ユーザ詳細ページ</h6>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag @user.get_icon_image(100,100), class: "rounded-circle" %>
      <br>
      <% if @user == current_user %>
        <%= link_to edit_user_path(@user), class: "btn btn-outline-info btn-sm mt-3" do %>
          <i class="fas fa-user-cog"></i> 編集する
        <% end %>
      <% else %>
        <div id="follow-ajax-<%= @user.id %>">
          <%= render "user/relationships/btn", user: @user %>
        </div>
      <% end %>
    </div>

    <table class="col-6">
      <tr>
        <td>ニックネーム：</td>
        <td><%= @user.name %></td>
      </tr>
        <td>居住地：</td>
        <td><%= @user.address %></td>
      <tr>
        <td>年齢：</td>
        <td><%= @user.age %>歳</td>
      </tr>
      <tr>
        <td>推しアーティスト：</td>
        <td><%= @user.my_favorite %></td>
      </tr>
      <tr>
        <td>ライブの楽しみ方：</td>
        <td><%= @user.live_stance %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div>
    <h6>いいねした投稿一覧</h6>
    </div>
    <% if @bookmarks.present? %>
        <% @bookmarks.each do |bookmark| %>
          <% post = bookmark.post %>
    <div class="card w-75 mx-auto mt-2 shadow-sm">
      <div class="row">
        <div class="col-3">
          <%= image_tag post.user.get_icon_image(50,50), class: "rounded-circle" %><br>
          <%= post.user.name %><br>
          <%= l post.created_at, format: :short %><br>
          </div>
          <div class="col-7">
          <%= post.post %><br>
          <% post.post_images.each do |post_image| %>
            <%= image_tag post_image, size: "80x80" %>
          <% end %>
          <% post.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
          </div>
    </div>
    </div>
    <% end %>
    <% end %>
    </div>
</div>
