<% if @model == 'user' %>
	<h4 class="w-75 mx-auto">"<%= @content %>"を含むニックネーム</h4>
  <%= render '/user/users/card', users: @records, user: @user %>
<% elsif @model == 'post' %>
	<h4 class="w-75 mx-auto">"<%= @content %>"を含むつぶやき</h4>
  <%= render '/user/posts/post', posts: @records %>
<% elsif @model == 'post_comment' %>
	<h4 class="w-75 mx-auto">"<%= @content %>"を含むコメント</h4>
  <%= render '/user/post_comments/comment', post_comments: @records %>
<% end %>