<% post.post_comments.each do |post_comment| %>
<div class="card-list-containar py-1">
  <div class="card w-75 mx-auto mt-1 shadow-sm">
    <div class="col-10">
      <%= post_comment.user.name %>
      <%= post_comment.comment %>
    <div class="d-flex justify-content-end">
      <p class="mx-1"><%= l post_comment.created_at, format: :short %></p>
      <% if post.bookmarked_by?(current_user) %>
        <p class="mx-1 text-dark">
        <%= link_to post_bookmarks_path(post), method: :delete do %>
          <i class="fas fa-star"></i><%= post.bookmarks.count %>
        <% end %>
        </p>
      <% else %>
      <p class="mx-1">
        <%= link_to post_bookmarks_path(post), method: :post do %>
          <i class="far fa-star"></i><%= post.bookmarks.count %>
        <% end %>
        </p>
      <% end %>
      <p class="mx-1"><i class="fas fa-comments"></i><%= post.post_comments.count %></p>
    </div>
    </div>
  </div>
</div>
<% end %>