<div class="card-list-containar py-3">
  <% posts.each do |post| %>
  <div class="card w-75 mx-auto mt-2 shadow-sm">
    <a href="/posts/<%= post.id %>" class="card-body text-dark ">
      <div class="row">
        <div class="col-10">
          <p><%= l post.created_at, format: :short %></p>
          <p><%= post.post %></p>
          <% post.post_images.each do |post_image| %>
            <%= image_tag post_image, size: "50x50" %>
          <% end %>
        </div>
      </div>
    </a>
  </div>
  <% end %>
  <%= paginate posts %>
</div>