<div class="card-list-containar py-3">
  <% posts.each do |post| %>
  <div class="card w-75 mx-auto mt-2 shadow-sm">
    <a href="/posts/<%= post.id %>" class="card-body text-dark ">
      <div class="row">
        <div class="col-3">
          <%= image_tag post.user.get_icon_image(50,50), class: "rounded-circle" %><br>
          <%= post.user.name %><br>
          <%= l post.created_at, format: :short %><br>
        </div>
        <div class="col-7">
          <p><%= post.post %></p>
          <% post.post_images.each do |post_image| %>
            <%= image_tag post_image, size: "80x80" %>
          <% end %>
          <% post.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </div>
        <div class="col-2">
            <% if post.user == current_user %>
              <%= link_to edit_post_path(post), class: "btn btn-info btn-sm" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <% if post.user == current_user %>
              <%= link_to post_path(post), method: :delete, class: "btn btn-info btn-sm" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
        </div>
      </div>
    </a>
  </div>
  <% end %>
  <%= paginate posts %>
</div>