<h6>新規投稿</h6>
<div class="form-body p-4">
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <%= form_with model: @post do |f| %>
  <div class="form-group mb-3">
    <td><i class="fas fa-pen"></i></td>
    <td><%= f.text_area :post, id: "post", class:"form-control", placeholder:"いま何をしていますか？" %></td>
  </div>
  <div class="form-group mb-3">
    <td><i class="fas fa-image"></i></td>
    <td><%= f.file_field :post_images, id: "post", multiple: true, accept: "image/*" %></td>
  </div>
  <div class="checkbox-inline mb-3">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.submit "投稿", :name => 'new', class: "btn btn-outline-info mr-3" %>
  <%= link_to "みんなのつぶやきに戻る", posts_path, class: "btn btn-outline-info mr-3" %>
  <%= f.submit '下書きに保存', :name => 'draft', class: 'btn btn-outline-secondary mr-3' %>
  <% end %>
</div>

