<h6>投稿詳細</h6>

<div class="card-list-containar py-3">
  <div class="card w-75 mx-auto mt-2 p-1 shadow-sm">
    <div class="col-10">
      <p><%= @post.user.name %></p>
      <p><%= @post.post %></p>
        <% @post.post_images.each do |post_image| %>
          <%= image_tag post_image, size: "120x90" %>
        <% end %>
    </div>
    <div class="d-flex justify-content-end">
      <p class="mx-1"><%= l @post.created_at, format: :short %></p>
      <% if @post.bookmarked_by?(current_user) %>
        <p class="mx-1">
        <%= link_to post_bookmarks_path(@post), method: :delete do %>
          <i class="fas fa-star"></i><%= @post.bookmarks.count %>
        <% end %>
        </p>
      <% else %>
        <p class="mx-1">
        <%= link_to post_bookmarks_path(@post), method: :post do %>
          <i class="far fa-star"></i><%= @post.bookmarks.count %>
        <% end %>
        </p>
      <% end %>
      <p class="mx-1"><i class="fas fa-comments"></i><%= @post.post_comments.count %></p>
    </div>
  </div>
</div>

<div>
<%= render 'comment', post: @post %>
</div>

<div class="d-flex justify-content-center">
<%= render 'comment_form', post: @post, post_comment: @post_comment %>
</div>