<h4 class="w-75 mx-auto">会員詳細</h4>
<div class="card w-75 mx-auto my-3 shadow-sm">
  <div class="card-header font-weight-bolder text-white bg-info">
    <div class="row">
      <div class="col-1">
        会員ID
      </div>
      <div class="col-2">
        ニックネーム
      </div>
      <div class="col-3">
        メールアドレス
      </div>
      <div class="col-1">
        年齢
      </div>
      <div class="col-2">
        居住地
      </div>
      <div class="col-2">
        会員ステータス
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <%= @user.id %>
      </div>
      <div class="col-2">
        <%= @user.name %>
      </div>
      <div class="col-3">
        <%= @user.email %>
      </div>
      <div class="col-1">
        <%= @user.age %>
      </div>
      <div class="col-2">
        <%= @user.address %>
      </div>
      <div class="col-2">
        <%= form_with model: @user, url:admin_user_path, method: :patch do |f| %>
          <%= f.select :status, [['有効',true],['退会',false]] %>
          <%= f.submit "更新", class: 'btn btn-outline-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<nav class="w-75 mx-auto">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-post-tab" data-toggle="tab" href="#nav-post" role="tab" aria-controls="nav-post" aria-selected="true">"<%= @user.name %>"の投稿一覧</a>
    <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">"<%= @user.name %>"のコメント一覧</a>
  </div>
</nav>
  <!--投稿一覧-->
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab">
    <table class="table w-75 mx-auto mt-2 text-center">
      <thead class="bg-info text-white">
        <tr>
          <th>投稿ID</th>
          <th>投稿文</th>
          <th>投稿時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>

          <% if post.is_draft == true %>
            <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;">
              <%= link_to admin_post_path(post), class: "text-dark" do %>
                #下書き<br>
                <%= post.post %>
              <% end %>
            </td>
          <% else %>
            <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;">
              <%= link_to admin_post_path(post), class: "text-dark" do %>
                <%= post.post %>
              <% end %>
            </td>
          <% end %>
          <td><%= l post.created_at, format: :short %></td>
          <td><%= link_to "削除", admin_post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="row justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>

  <!--コメント一覧-->
  <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
    <table class="table w-75 mx-auto mt-2 table-hover text-center">
      <thead class="bg-info text-white">
        <tr>
          <th>元投稿のユーザー</th>
          <th>コメント</th>
          <th>投稿時間</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @post_comments.each do |post_comment| %>
      <% post = post_comment.post %>
        <tr>
          <td>＠ <%= post.user.name %></td>
          <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 0;">
            <%= link_to admin_post_path(post), class: "text-truncate text-dark" do %>
              <%= post_comment.comment %>
            <% end %>
          </td>
          <td><%= l post_comment.created_at, format: :short %></td>
          <td><%= link_to "削除", admin_post_comment_path(post_comment), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger btn-sm" %></td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</div>
